doctype html
html(lang="ru")
    head
        title PUSH
        link(rel="stylesheet" href="/css/index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
        script(type="text/javascript" src="js/jquery.jplayer.min.js")
        script(type="text/javascript" src="js/jplayer.playlist.min.js")
        script(src="https://vk.com/js/api/openapi.js")

    body
        div(id="vk_api_transport" style="width: 200px; height: 50px; background-color: red;")
        script(src="js/index.js")

        .upper_layer
            .top_block
                //img.top_block__option_button(src="img/option_button.png")
            .middle_block
                .middle_block__image_cover
                    //img.image_cover__cover(src="img/picture_of_music.png" alt="")
            .bottom_block
                div(id="jquery_jplayer_1" class="jp-jplayer")
                div(id="jp_container_1" class="jp-audio")

                    div(class="jp-type-playlist")
                        <!-- Будущий плейлист -->
                        div(class="jp-playlist")
                            ul
                                li
                        div(class="jp-gui jp-interface")
                            ul(class="jp-controls")
                                li
                                    label(id="name-of-the-song-that-plays")
                                li
                                    a(href="javascript:;" class="jp-play" tabindex="1")
                                li
                                    a(href="javascript:;" class="jp-pause" tabindex="1")
                                li
                                    a(href="javascript:;" class="jp-previous" tabindex="1")
                                li
                                    a(href="javascript:;" class="jp-next" tabindex="1")
                                div(class="clear")

                                <!-- Прогресс бар -->
                                div(class="jp-progress")
                                    div(class="jp-seek-bar")
                                        div(class="jp-play-bar")
                                <!-- Регулятор громкости -->
                                div(class="jp-volume-bar")
                                    div(class="jp-volume-bar-value")
                                <!-- Остаток времени -->
                                div(class="jp-time-holder")
                                    div(class="jp-current-time")

                                div(class="clear")

                                <!-- Кнопки повторения и перемешивания плейлиста -->
                                ul(class="jp-toggles")
                                li
                                    a(href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle") shuffle
                                li
                                    a(href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off") shuffle off
                                li
                                    a(href="javascript:;" class="jp-repeat" tabindex="1" title="repeat") repeat
                                li
                                    a(href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off") repeat off
                                div(class="clear")

                        <!-- Сообщение об ошибке -->
                        div(class="jp-no-solution")
                            span Update Required To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin






