body
  margin 0
  padding 0
  background linear-gradient(-15deg, #0465AA, #0465AA, #03CDF6, #03CDF6) no-repeat
  background-size 100% 100%

.upper_layer
  position relative
  background linear-gradient(to bottom, #0465AA, #03CDF6, #03CDF6, #0465AA) no-repeat
  //background-image url(img/text_on_background.png)
  width 60%
  height 525px
  margin 65px auto
  border-radius 10px
  box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 40px rgba(0,0,0,0.23)

.top_block
  width 100%

#name-of-the-song-that-plays
  display inline-block
  float left
  font-family Arial, sans-serif
  font-weight bold
  font-size 20px
  color #009efb
  text-shadow 1px 1px 1px rgba(0,0,0, .5)
  width 80%
  margin-left 60px
  margin-top 30px

.top_block__option_button
  cursor pointer
  margin 10px

.middle_block
  width 100%

.middle_block__image_cover
  display inline-block
  float left
  margin-left 60px
  width 50%

.jp-gui
  position relative

.jp-controls
  padding 0
  margin 0
  list-style none
  text-shadow 1px 1px 0 rgba(0,0,0,0.3)

.jp-controls a
  color #fff

.jp-play,
.jp-pause
  width 140px
  height 140px
  display inline-block
  text-align center
  line-height 43px

.jp-play
  background url(/img/button_play.png) no-repeat

.jp-pause
  background url(/img/button_pause.png) no-repeat

.jp-previous,
.jp-next
  width 160px
  height 100px
  display inline-block

.jp-previous
  background url(/img/button_prev.png) no-repeat

.jp-next
  background url(/img/button_next.png) no-repeat

.jp-mute,.jp-unmute
  width 20px
  height 40px
  display inline-block
  line-height 46px

.jp-mute
  text-align left

.jp-time-holder
  color #FFF
  font-size 12px
  line-height 14px
  text-shadow 1px 1px 0 rgba(0,0,0,0.3)

.jp-progress
  background-color #cecece
  border-radius 20px 20px 20px 20px
  width 100%
  box-shadow 0 1px 1px 0 rgba(0,0,0,0.2) inset

.jp-play-bar
  height 7px
  background-color white
  box-shadow 0 0 20px white
  border-radius 20px 20px 20px 20px

.jp-volume-bar
  width 50%
  height 5px
  border-radius 20px 20px 20px 20px
  box-shadow 0 1px 1px 0 rgba(0,0,0,0.1) inset
  background-color #cecece

.jp-volume-bar-value
  background-color #fff
  height 5px
  border-radius 20px 20px 20px 20px
  box-shadow 0 0 20px white

.jp-playlist
  width 40%
  height 270px
  overflow-y scroll

.jp-playlist-item
  color white
  text-decoration none

.jp-playlist ul li
  list-style-type none

.discription
  display none

